header {
  height: 100px;
}

.nav {
  height: max-content;
  width: 100%;
}

.leftside {
  float: left;
  margin: 10px;
}

.rightside {
  float: right;
  margin: 10px;
}

.titleblock {
  clear: both;
  text-align: center;
}

.main {
  height: max-content;
  width: 100vw;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: center;
  justify-content: space-around;
}

img {
  width: 300px;
  height: 300px;
  margin: 10px;
}

footer {
  height: 100px;
  text-align: center;
}

@media only screen and (max-width:500px) {
  header {
    height: max-content;
    text-align: center;
  }
  footer {
    height: max-content;
  }
  .leftside, .rightside {
    display: block;
    clear: both;
    margin: auto;
    float: none;
  }
}
