h1 {
  font-size: 30px;
  font-family: cursive;
  color: red;
}

section .pinkback {
  font-size: 30px;
  text-decoration: none;
  font-family: cursive;
  line-height: normal;
  border: 1px solid red;
  background-color: pink;
}

a {
  margin: 20px;
}

#morespecific:hover {
  color: #000;
  background-color: blue;
  margin: 20px;
}

#hilite {
  background-color: red;
}
/*
img {
  position: relative;
  top: 30px;
  left: 200px;
}*/
