body{
  margin: 0;
  background-color: grey;
  z-index: 10;
}

h2 {
  width: max-content;
  margin: auto;
  color: #fff;
}

/*.thingcontainer {
  height: 100vh;
  width: 100vw;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}*/

.thisthing {
  background-color: gold;
  height: 200px;
  width: 200px;
  /*opacity: 0.2;*/
  display: flex;
  align-items: center;
  position: relative;
  left: 100px;
  bottom: 100px;
  z-index: 1;
}

.superceder {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: green;
  z-index: 1000000;
}


.thatthing {
  background-color: blue;
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  z-index: -1000;
}
.this {
  display: inline-block;
}
